footer.footer
  .footer__logo 
    img(src='/img/logo-green.png', alot='Natours logo')
  ul.footer__nav
    li: a(href='#') About Us
    li: a(href='#') Download apps
    li: a(href='#') Become a guide
    li: a(href='#') Careers 
    li: a(href='#') Contact
  - const year = new Date().getFullYear()
  p.footer__copyright= `© ${year} by Naimur Rahman. All rights reserved.`